body{
    background: url(image/Minecraft_TheGardenAwakens_DotNet_2560x1440.png);
    image-rendering: pixelated;
    background-size: cover;
}

@media (max-width: 1181px) {
    body{
        background-size: contain;
    }
}

.content{
    display: block;
    text-align: center;
}