body{
    background: url(image/composter_background.png);
    image-rendering: pixelated;
    background-size: cover;
}

@media (max-width: 1181px) {
    body{
        background-size: contain;
    }
}