@import url('https://fonts.cdnfonts.com/css/minecrafter');

body{
    background: url(image/Minecraft_TheGardenAwakens_DotNet_2560x1440.png);
    background-position: top center;
    background-size: 200%;
    background-clip: content-box;
    background-repeat: no-repeat;
    color: white;
    font-family: 'minecrafter', sans-serif;
}

@media (min-width: 1000px) {
    body {
        background-size: cover;
    }
}

.header{
    /*Quelle: 1*/
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    padding-top: 28px;
    text-align: center;
    font-size: 3.5rem;
    width: 90%;
    display: flex;
    justify-self: center;
    margin: 1%;
    justify-content: center;
}

.content{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    padding: 20px;
    margin: 1%;
    width: 90%;
    justify-self: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1 1 calc(33.333% - 10px);
}

.villagerimg{
    width: 100px;
    display: flex;
    align-items: stretch;

    
}

