@import url('https://fonts.cdnfonts.com/css/minecrafter');

body{
    background: url(image/Minecraft_TheGardenAwakens_DotNet_2560x1440.png);
    background-position: top center;
    background-size: 200%;
    background-clip: content-box;
    background-repeat: repeat;
    color: white;
    font-family: 'minecrafter', sans-serif;
}

.test1{
    font-size: xxx-large;
    cursor: pointer;
    opacity: 0.1;
    width: 10%;
    position: absolute;
    margin-right: 5%;
}

.test1:hover{
    opacity: 1;
    background-color: black;
    color: white;
    z-index: 100;
}

.test1a{
    width: 100px;
    height: 100px;
}

.header{
    /*Quelle: 1*/
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    padding-top: 28px;
    text-align: center;
    font-size: 6vi;
    width: 90%;
    display: flex;
    justify-self: center;
    margin: 1%;
    justify-content: center;
    box-shadow: 0px 0px 1px rgba(3, 7, 18, 0.02),
    0px 0px 4px rgba(3, 7, 18, 0.03),
    0px 0px 9px rgba(3, 7, 18, 0.05),
    0px 0px 15px rgba(3, 7, 18, 0.06),
    0px 0px 24px rgba(3, 7, 18, 0.08);
}

.content{
    justify-self: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    margin: 1%;
    width: 90%;
    flex: 1 1 calc(33.333% - 10px);
    /* https://smoothshadows.com/#djEsMSw1LDAuMDgsMjQsMCwwLCMwMzA3MTIsI2YzZjRmNiwjZmZmZmZmLDI%3D */
    box-shadow: 0px 0px 1px rgba(3, 7, 18, 0.02),
    0px 0px 4px rgba(3, 7, 18, 0.03),
    0px 0px 9px rgba(3, 7, 18, 0.05),
    0px 0px 15px rgba(3, 7, 18, 0.06),
    0px 0px 24px rgba(3, 7, 18, 0.08);
}

.content span{
    margin-bottom: 10px;
}

.villagerimg{
    width: 10vi;
}

.armorer, .butcher, .Carto, .cleric, .farmer, .fishermen, .fletcher, .leatherworker, .librarian, .mason, .shepherd, .toolsmith, .weaponsmith {
    display: grid;
    justify-content: center;
    width: 12vi;
    min-width: 125px;
    margin-top: 10px;
    margin: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2vi;
    box-shadow: 0px 0px 1px rgba(3, 7, 18, 0.02),
    0px 0px 4px rgba(3, 7, 18, 0.03),
    0px 0px 9px rgba(3, 7, 18, 0.05),
    0px 0px 15px rgba(3, 7, 18, 0.06),
    0px 0px 24px rgba(3, 7, 18, 0.08);
    transition: 0.5s;
    transform-origin: center;
    font-size: 1vi;
}

.armorer:hover, .butcher:hover, .Carto:hover, .cleric:hover, .farmer:hover, .fishermen:hover, .fletcher:hover, .leatherworker:hover, .librarian:hover, .mason:hover, .shepherd:hover, .toolsmith:hover, .weaponsmith:hover {
    transform: scale(1.05);
}

@media (min-width: 1500px) {
    body {
        background-size: cover;
    }
}

.link{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 933px) {
    /*body {
        background: url(image/Minecraft_TheGardenAwakens_DotNet_1080x1920.png);
        background-size: cover;
    }*/
    .content{
        flex-direction: column;
        align-content: center;
        margin: 5%;
    }
    .villagerimg{
    width: 20vi;
    }
    .armorer, .butcher, .Carto, .cleric, .farmer, .fishermen, .fletcher, .leatherworker, .librarian, .mason, .shepherd, .toolsmith, .weaponsmith {
        justify-self: center;
        width: 80vi;
    }
}
